ctgan==0.2.1
eli5==0.10.1
fastcache==1.1.0
jupyter==1.0.0
jupyterlab==2.2.8
lifelines==0.25.6
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
nb-conda-kernels==2.3.0
olefile==0.46
pip-chill==1.0.0
plotly==4.12.0
scikit-optimize==0.8.1
scikit-survival==0.14.0
streamlit==0.69.2
tabula-py==2.2.0
xgboost==1.2.1
xlrd==1.2.0
